.header {
    display: flex;
    /* justify-content: space-between; */
    align-items: right;
    position: relative;
    top: 0;
    background-color: lightslategray;
    z-index: 100;
    width: 100%;
}